*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container--black {
    background: #1f2937;
}

.container--white {
    background: #fff;
}

.container--gray {
    background: #e5e7eb;
}

.container--large {
    flex-basis: 525px;
}

.container--medium {
    flex: 1;
}

.container--small {
    flex-basis: 115px;
}

.wrapper {
    margin: 0 auto;
    height: 100%;
}

.wrapper--wide {
    width: 56%;
}

.wrapper--thin {
    width: 45%;
}

.wrapper--mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-group {
    height: 100%;
}

.menu {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.menu__list {
    display: flex;
    gap: 30px;
}

.menu__item {
    font-size: 18px;
    color: #e5e7eb;
}

.details {
    height: 85%;
    display: flex;
    align-items: center;
}

.details__content {
    height: 55%;
    width: 100%;
    display: flex;
    gap: 50px;
}

.details__left {
    width: 45%;
}
.details__right {
    width: 55%;
}

.details__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details__register-btn {
    align-self: flex-start;
    padding: 10px 30px;
    color: #fff;
    background: #3b82f6;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
}

.details__title {
    font-size: 48px;
    color: #f9f1f8;
    font-weight: 900;
}

.details__description {
    font-size: 18px;
    color: #e5e7eb;
}

.details__right {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6d747d;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.info__header {
    display: flex;
    align-items: center;
    height: 25%;
}

.info__title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info__cards {
    display: flex;
    flex: 1;
    gap: 50px;
}

.info__card {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    height: 75%;
}

.info__box {
    border: 4px solid #3b82f6;
    border-radius: 15px;
    flex: 1;
}

.info__description {
    color: #000;
    font-size: 18px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #1f2937;
    height: 100%;
    gap: 10px;
}

.quote__text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

.quote__owner {
    font-weight: 900;
    font-size: 18px;
    align-self: flex-end;
}

.register {
    background: #3882f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
    border-radius: 10px;
}

.register__content {
    display: flex;
    width: 80%;
}

.register__left {
    width: 80%;
}

.register__description {
    font-size: 18px;
    color: #e5e7eb;
}

.register__right {
    width: 20%;
    display: flex;
    align-items: center;
}

.register__btn {
    padding: 8px 30px;
    color: #fff;
    background: #3b82f6;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 100%;
}
